body {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	background: #f2f2f2; 

	/* Typography */
	font-family: 'PT Sans', sans-serif; 
	font-size: 14px;
	font-weight: 400;
	line-height: 22px; 
	color: #000;
	text-transform: uppercase;
}
a {
	color: #000;
	text-decoration: none;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
	position: relative;
	height: 56px;
	background-color: #fff;
	font-size: 0;

}
/*.container {
	margin: 0 auto;
	width: 1056px;
}*/

.main-logo {
	float: left;
	margin-left: 50px;
	position: absolute;
	z-index:1;
}
.nav-left {
	float: left;
}
.nav-right {
	float: right;

}
.main-navigation-list {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}
.main-navigation-item {
	display: inline-block;
	height: 56px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}
.main-navigation-link {
	display: block;
	padding-top: 15px;
	width: 239px;
}

.main-navigation-link:hover {
	color: #81b3d2;
}
.main-navigation-link:active {
	color: #cecece;
}
.main-welcome {
	position: relative;
	width: 1200px;
	height: 508px;
	background-color: #8bb8d6;
}
.main-welcome::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 1200px;
	height: 57px;
	background: url(../img/shape_bg.png) no-repeat 0% 0%;
}
.welcome-bg {
	margin: 0;
	padding: 0;
}
.main-content {
	background-color: #fff;
	
}
.sedona-item {
	
}
.about-place {
	padding-top: 65px;
	text-align: center;
}
.item-name {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	font-size: 21px;
	line-height: 26px;
}
.reason-item {
	margin: 0;
	padding: 0;
	margin-bottom: 57px;
	color: #333;
}
.reason-block {
	margin: 0;
	padding: 0;
	width: 1200px;
}
.reason-item-blocks {
	font-size: 0;
	height: 256px;
	box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
}
.reason-item-1 {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	padding: 50px 46px 40px 46px;
	width: 400px;
	height: 256px;
	background-color: #81b3d2;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
}
.reason {
	margin: 0;
	padding: 0;
	margin-bottom: 26px;
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
}
.item-number,
.reason-description {
	margin: 0;
	padding: 0;
	display: block;
}
.item-number {
	margin-bottom: 26px;
}
.reason-description {
	line-height: 21px;
}
.picture-reason {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	width: 800px;
	height: 256px;
}
.sedona-recomms {
	margin: 0;
	padding: 0;	
}
.item-blocks {
	font-size: 0;
	padding-top: 60px;
	padding-bottom: 85px;
	box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
}
.recomm-item {
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 14px;
	width: 400px;
	text-align: center;
	box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
}
.recomm-name {
	margin: 0;
	padding: 0;
	font-size: 21px;
	font-weight: 700px;
	line-height: 21px;
}
.recomm-text {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #333;
}
.icon {
	margin-bottom: 32px;
}
#bg-item-block {
	background-color: #eee;
	padding-bottom: 63px;
}
.interest-block {
	padding-top: 60px;
	padding-bottom: 126px;
	text-align: center;
	line-height: 24px;
}
.demand {
	margin: 0;
	margin-bottom: 33px;
	padding: 0;
	font-size: 30px;
	font-weight: 700;
	color: #333;
}
.demand-description {
	margin: 0;
	padding: 0;

}
.map {
	width: 100%;
	height: 593px;
	background: url(../img/map.jpg) no-repeat;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 1200px;
	background-color: rgba(249,251,246,0.9);
	z-index: 3;
	padding-top: 36px;
	padding-bottom: 36px;
}
.footer-hashtag {
	float: left;
	width: 400px;
	text-align: center;
}
.footer-social {
	float: left;
	width: 400px;
	text-align: center;
}
.social-btn {
	display: inline-block;
	width: 46px;
	height: 46px;
	vertical-align: middle;
	background-image: url(../img/social_btn.png);
	background-repeat:  no-repeat;
	background-color: #81b3d2;
}	
}
.footer-social .social-btn:hover {
	background-color: #669ec0;
	opacity: 0.3;
}
/*.social-btn:active {
	background-color: #5496bd;
}*/

.social-tw {
	background-position: left;
}
.social-yt {
	background-position: center;
}
.social-fb {
	background-position: right;
}


.footer-copyright {
	float: right;
	width: 400px;
	text-align: center;
}
.author {
	display: inline-block;
	vertical-align: middle;
}
.copyright-link {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}
.author-link {
	display: inline-block;
	vertical-align: middle;
}





